<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc.a50_android_hacks">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".TransActivityTest1" android:label="透明度测试">
            <intent-filter>
                <action android:name="com.kc.life.rise" />
            </intent-filter>
        </activity>

        <activity android:name=".TransActivityTest2"
            android:theme="@style/Transparent">
        </activity>

    </application>

</manifest>
